<%= t.include("partials/_head.html") %>

<div class="title"><%=json.flu_season.Title%></div>
<div class="deck"><%=json.flu_season.Deck%></div>
<div class="author">By <a href="mailto:eallday@sfchronicle.com">Erin Allday</a> and <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
<div class="date"><%=json.flu_season.Date%></div>

<% json.flu_season.story.forEach(function(story){ %>

  <div class="interactive-hed"><%=story.Headline%></div>

  <% if (story.Intro) { %>
    <div class="intro">
      <p><%=story.Intro %></p>
    </div>
  <% } %>

  <% if (story.Interactive == "bad-year-for-the-flu") { %>
    <div class="interactive-chart" id="bad-year-for-the-flu"></div>
  <% } else if (story.Interactive == "efficacy-by-vaccine") { %>
    <div class="interactive-chart double">
      <div id="efficacy-by-vaccine-influenza"></div>
      <div id="efficacy-by-vaccine-others"></div>
    </div>
  <% } else if (story.Interactive == "evolution-of-strains") { %>
    <div class="legend-container">
      <div class="element"><div class="swath ah3"><div class="legend-text">A (H3) strain</div></div></div>
      <div class="element"><div class="swath ah1n1"><div class="legend-text">A (2009 H1N1) strain</div></div></div>
      <div class="element"><div class="swath bstrains"><div class="legend-text">B strains</div></div></div>
      <div class="element"><div class="swath other"><div class="legend-text">Other strains</div></div></div>
    </div>
    <div class="interactive-chart" id="evolution-of-strains"></div>
  <% } else if (story.Interactive == "who-gets-the-vaccine") { %>
    <div class="interactive-chart statement-chart">
      <div class="sentence-container">
        <div id="sentence"></div>
        <ul class="progressbar">
            <li class="li active" id="li0"></li>
            <li class="li" id="li1"></li>
            <li class="li" id="li2"></li>
            <li class="li" id="li3"></li>
            <li class="li" id="li4"></li>
        </ul>
      </div>
      <div id="who-gets-the-vaccine"></div>
    </div>
  <% } else if (story.Interactive == "efficacy-by-age") { %>
    <div class="interactive-chart" id="efficacy-by-age"></div>
  <% } else if (story.Interactive == "other-efficacy") { %>
    <div class="legend-container">
      <div class="element short"><div class="swath age6mo"><div class="legend-text">6 months - 4 years</div></div></div>
      <div class="element short"><div class="swath age5yr"><div class="legend-text">5 - 17 years</div></div></div>
      <div class="element short"><div class="swath age18yr"><div class="legend-text">18 - 49 years</div></div></div>
      <div class="element short"><div class="swath age50yr"><div class="legend-text">50 - 64 years</div></div></div>
      <div class="element short"><div class="swath age65yr"><div class="legend-text">65 and older</div></div></div>
    </div>
    <div class="interactive-chart" id="other-efficacy"></div>
  <% } %>

  <% if (story.AboutTheData){ %>
    <div class="about-the-data">About the data: <%=story.AboutTheData%></div>
  <% } %>
  <% if (story.Source){ %>
    <div class="source">Source: <%=story.Source%></div>
  <% } %>

  <% story.text.forEach(function(d,didx){ %>
    <p><%=d.value %></p>
  <% }); %>

<% }) %>

<script>
  var fluHistoricalData = <%= JSON.stringify(json.HistoricalDataFlu_Erin) %>;
  var fluStrainsThisYear = <%= JSON.stringify(json.EvolutionOfStrainsThisYear) %>;
  var efficacyByAge = <%= JSON.stringify(json.EfficacyByAge) %>;
  var efficacyByVaccine = <%= JSON.stringify(json.FluVaccineVsOtherVaccines) %>;
  var efficacyOther = <%= JSON.stringify(json.OtherEfficacyTransposed) %>;
</script>

<script src="app.js?5" async></script>
<%= t.include("partials/_footer.html") %>
